body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

.app-heading-1 {
  font-size: 40px;
  line-height: 60px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-35 {
  line-height: 35px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-18 {
  line-height: 18px;
}

.btn-lg {
  height: 52px !important;
  width: 231px !important;
  padding: 26px !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 10%) !important;
}

body::-webkit-scrollbar-thumb {
  background: rgb(79 207 141 / 100%) !important;
}

.page-container {
  width: 80%;
  margin: 0 auto;
}

.full-page-view-height {
  min-height: 100vh;
}

@media screen and (max-width: 1024px) {
  .btn-sm {
    height: 40px !important;
    width: 170px !important;
    font-size: 13px !important;
    line-height: 20px !important;
  }

  .font-size-sm-13 {
    font-size: 13px;
  }

  .font-size-sm-18 {
    font-size: 18px;
  }

  .font-size-sm-24 {
    font-size: 24px;
  }

  .line-height-sm-30 {
    line-height: 30px;
  }

  .line-height-sm-36 {
    line-height: 36px;
  }

  .line-height-sm-20 {
    line-height: 20px;
  }
}
